.menu__list {
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: baseline;
}

@media screen and (min-width : 319px) and (max-width : 767px) {
    .menu__list {
      flex-direction: column;
      margin-top: 34px;
    }
  }



