@import url(./_active/header__popup-button-close_active.css);

@media screen and (min-width : 319px) and (max-width : 767px) {
.header__popup-button-close {
    display: none;
    background-image: url("../../../images/close-mask.png");
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-top: 14px;
    padding: 0;
    z-index: 3;
}

}

@media screen and (min-width : 767px)  {
    .header__popup-button-close {

        display: none;
    }

    }