.header__logo {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 104px;
  margin-top: 30px;
  margin-bottom: 26px;
  z-index: 3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    font-size: 16px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__logo {
    font-size: 20px;
line-height: 24px;
    margin-left: 40px;
    margin-top: 23px;
    margin-bottom: 18px;
  }
}
