.no-result__info {
  max-width: 340px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 83px;
  color: #B6BCBF;
}
