.author__text {
  color: #1a1b22;
  font-family: 'Roboto', Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 20px;
}


@media screen and (min-width : 768px) and (max-width : 1439px) {

  .author__text {
  
      max-width: 100%
  }
}
