.card__button-info-card {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
line-height: 24px;
    /*display: flex;
  align-items: center;
  text-align: center; */
  
    color: #000000;
  
    border-radius: 10px;
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 5px; 
}

@media screen and (min-width : 768px) and (max-width : 1439px) {

    .card__button-info-card {
     
        font-size: 14px;
        line-height: 24px;
         
     }
  }