.author__content {
    padding-left: 56px;
    padding-top: 53px;
}

@media screen and (min-width : 319px) and (max-width : 650px) {

    .author__content {

        padding-top: 24px;
        padding-left: 0px;

    }
  }

  @media screen and (min-width : 651px) and (max-width : 760px) {

    .author__content {

        padding-top: 24px;
        padding-left: 16px;

    }
  }



  @media screen and (min-width : 761px) and (max-width : 1439px) {

    .author__content {

        padding-top: 0px;
        padding-left: 32px;

    }
  }