.card__article-date {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
  padding-top: 15px;
  padding-left: 24px;
}

@media screen and (min-width : 319px) and (max-width : 767px) {

    .card__article-date {

        padding-left: 16px;

    }
  }

  @media screen and (min-width : 767px) and (max-width : 1439px) {

    .card__article-date {

        padding-left: 16px;
        padding-top: 16px;

    }
  }

