.card__article-url {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width : 319px) and (max-width : 767px) {

    .card__article-url {

        padding-top: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 17px;

    }
  }

  @media screen and (min-width : 767px) and (max-width : 1439px) {

    .card__article-url {

        padding-top: 12px;
        padding-left: 16px;


    }
  }