.header_saved-article {
    background-color: #FFFFFF;
    height: 374px;
}

@media screen and (min-width : 319px) and (max-width : 1439px) {

    .header_saved-article {
    
      height: 100%;
        
    }
  }