@import url(./__copyright/footer__copyright.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__social-net/footer__social-net.css);
@import url(./__navigation-list/footer__navigation-list.css);
@import url(./__social-net-list/footer__social-net-list.css);
@import url(./__content/footer__content.css);
@import url(./__navigation-list-item/footer__navigation-list-item.css);
@import url(./__social-net-item/footer__social-net-item.css);
@import url(./__icon-image/footer__icon-image.css);
@import url(./__link/footer__link.css);

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-left: 104px;
    padding-bottom: 26px;
    padding-top: 29px;
    padding-right: 106px;
}

@media screen and (min-width : 319px) and (max-width : 674px) {

    .footer {
    
        padding-left: 16px;
        padding-bottom: 26px;
        padding-top: 20px;
        padding-right: 16px;
        flex-direction: column;

        align-items: flex-start;
        
    }
  }

  @media screen and (min-width : 675px) and (max-width : 1439px) {

    .footer {
    
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 24px;
    }
  }