@import url(./_medium/popup__content_medium.css);
@import url(./_small/popup__content_small.css);

.popup__content {
  
  
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  
}

@media screen and (min-width : 319px) and (max-width : 460px) {

  .popup__content {
  
    width: 100vw;
      
  }
}

@media screen and (min-width : 460px)  {

  .popup__content {
  
    width: 430px;
      
  }
}


