.header_picture {
    background-image: url(../../../images/mobile.png);
    height: 576px;
}

@media screen and (min-width : 319px) and (max-width : 767px) {

    .header_picture {  
      height: 536px;
      background-image: url(../../../images/mobile-mobile.png);      
    }
  }
  
  @media screen and (min-width : 768px) and (max-width : 1439px) {
  
    .header_picture {  
      height: 400px;
      background-image: url(../../../images/mobile-tablet.png);      
    }
  }

