@import '../../node_modules/normalize.css/normalize.css';
@import url(../vendor/font.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/active-page-grey/active-page-grey.css);
@import url(../blocks/news-card/news-card.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/mobile-popup-mask/mobile-popup-mask.css);