.footer__content {
    display: flex;
}

@media screen and (min-width : 325px) and (max-width : 674px) {

    .footer__content {
    
        justify-content: space-between;
        width: 100%;
    }
  }