.footer__navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width : 319px) and (max-width : 674px) {

    .footer__navigation-list {
    
        flex-direction: column;
        padding-left: 0;
        
    }
  }