@import url(../../log-out/log-out.css);
@import url(../../active-page/active-page.css);
@import url(./_grey/menu__link_grey.css);
@import url(./_white/menu__link_white.css);
@import url(./_black/menu__link_black.css);

.menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 32px;
    padding-bottom: 24px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width : 319px) and (max-width : 767px) {
    .menu__link {
        
        margin-left: 16px;
        
        
    }
}

@media screen and (min-width : 768px) and (max-width : 1439px) {
    .menu__link {
        
        margin-left: 16px;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 18px;
    }
}