.news-card_saved-position {
    padding-top: 62px;
    padding-bottom: 62px;
}

@media screen and (min-width : 319px) and (max-width : 767px) {

    .news-card_saved-position {
        padding-top: 24px;
        padding-bottom: 9px;
    }
  }