@import url(./__list/menu__list.css);
@import url(./__list-item/menu__list-item.css);
@import url(./__link/menu__link.css);
@import url(./__button/menu__button.css);
@import url(./__button-logo-out/menu__button-logo-out.css);
@import url(./_active/menu_active.css);
@import url(./__button-span/menu__button-span.css);
@import url(./__button-container/menu__button-container.css);

.menu {
  margin-right: 102px;
  
}

@media screen and (min-width : 319px) and (max-width : 767px) {

   .menu {
   
      position: absolute;
      display: none;
      top: 56px;
      color: #fff;
      background: #1a1b22;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      width: 100%;
      height: 230px;
      z-index: 3;
   }
 }

 @media screen and (min-width : 768px) and (max-width : 1439px) {

  .menu { 
     
    margin-right: 40px;
  }
}
