.header__input {
    width: 100%;
    outline: none;
    border: none;
    margin-left: 24px;
    margin-top: 21px;
    margin-bottom: 21px;
    padding: 0;
}

@media screen and (min-width : 319px) and (max-width : 339px) {

    .header__input {
        backdrop-filter: blur(8px);
    border-radius: 100px;
    width: 89vw;
    margin-left: 0;
    margin-right: 0;
   /*padding-left: 16px;
   padding-right: 16px;*/
   padding-top: 18px;
   padding-bottom: 18px;
    margin-top: 0;
    
        
    }
  }

  @media screen and (min-width : 340px) and (max-width : 767px) {

    .header__input {
        backdrop-filter: blur(8px);
    border-radius: 100px;
    width: 99%;
    margin-left: 0;
    margin-right: 0;
   /*padding-left: 16px;
   padding-right: 16px;*/
   padding-top: 18px;
   padding-bottom: 18px;
    margin-top: 0;
    
        
    }
  }

  @media screen and (min-width : 768px) and (max-width : 1439px) {

    .header__input {
        margin-top: 19px;
        margin-bottom: 19px;   
        
    }
  }