.author__picture {
    width: 464px;
    height: 464px;
    border-radius: 100%;
    object-fit: cover;

}

@media screen and (min-width : 319px) and (max-width : 650px) {

    .author__picture {
    
        width: 272px;
        height: 272px;
        padding-left: 2vw;
        
    }
  }

  @media screen and (min-width : 651px) and (max-width : 767px) {

    .author__picture {
    
        width: 272px;
        height: 272px;
        padding-left: 0;
        
    }
  }

  @media screen and (min-width : 768px) and (max-width : 900px) {

    .author__picture {
    
        width: 232px;
        height: 232px;
        
        padding-top: 18px;
    }
  }

  @media screen and (min-width : 901px) and (max-width : 1439px) {

    .author__picture {
    
        width: 290px;
        height: 290px;
        
        padding-top: 18px;
    }
  }