@import url(./_grey/card__button-icon_grey.css);
@import url(./_blue/card__button-icon_blue.css);
@import url(./_black/card__button-icon_black.css);

.card__button-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;

    padding: 0;

}