.card__button-icon {
    width: 40px;
    height: 40px;
    background-image: url('../../../images/Rectangle_grey.png');
    /*padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background: #FFFFFF;
    background-repeat: no-repeat;*/
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    
    padding: 0;
    
}