@import url(./__content/popup__content.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__label/popup__label.css);
@import url(./__input/popup__input.css);
@import url(./__input-error-message/popup__input-error-message.css);
@import url(./__server-respond-message/popup__server-respond-message.css);
@import url(./__form-button/popup__form-button.css);
@import url(./__switch/popup__switch.css);
@import url(./__switch-form/popup__switch-form.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__switch-blue/popup__switch-blue.css);

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    z-index: 10;
    
    display: flex;
    display: none;
}

@media screen and (min-width : 319px) and (max-width : 767px) {

    .popup {
    
        margin-top: 0px;
        background-color: rgba(0,0,0,.5);
        
        align-items: center;
    justify-content: center;
        
    }
  }

  @media screen and (min-width : 768px)  {

    .popup {
    
       
        align-items: center;
    justify-content: center;
        
    }
  }