
@import url(./_active/header__popup-button_active.css);
@import url(./_white/header__popup-button_white.css);
@import url(./_black/header__popup-button_black.css);

@media screen and (min-width : 319px) and (max-width : 767px) {
.header__popup-button {
    
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-top: 14px;
    padding: 0;
    z-index: 3;
    display: none;
}

}

@media screen and (min-width : 767px)  {
    .header__popup-button {
        
        display: none;
    }
    
    }